body {
	font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;
}
.container {
	width: 100%;
	max-width: 1145px;
	box-sizing: border-box;
	margin: 0 auto;
}
header {
    background: #0b3456;
    height: 120px;
    align-items: center;
    display: flex;
    border: none;
}
.header__content {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 30px;
}
.header__logo {
    align-items: center;
}
.header__button {
    display: flex;
    align-items: center;
    padding-right: 25px;
}
.header__button button:first-child {
    margin-right: 25px;
    background: linear-gradient(to top left, #ff4b2b, #ff4268);
    color: #ffffff;
}
.header__button button {
    border-radius: 59px;
    padding: 10px 20px;
    background-color: #e6eaf8;
    border: 0px;
    font-weight: 700;
    font-size: 20px; 
    color: #003049; 
}
.header__button button:hover {
    color: #ffffff;
    background: linear-gradient(to top left, #ff4b2b, #ff4268)
}
.navigation {
    width: 100%;
    background-color: #0d3a5f;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav ul {
    display: flex;
    padding: 30px 50px 30px 30px;
    color: #0d3a5f;
}
.nav a {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}
.nav li {
    padding-right: 55px;
}
.nav__basket {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    align-items: center;
    border-radius: 30px;
    background-color: #0b3456;
    border: none;
    padding: 0 30px;
    margin: 15px 22px;
}
.nav__basket img {
    padding-left: 15px;
    border: none;
    padding: 0 11px;
}
.intro {
	height: 620px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	background-image: url("../img/background.png");
    background-color: #0b3456;
    background-repeat: no-repeat;
    position: relative;
}
.intro h1 {
    width: 80%;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
}
.intro__info {
    width: 100%;
}
.intro__search {
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
    width: 100%;
    height: 75px;
    border-radius: 11px;
    margin: 70px 0 0;
}
.intro__search input {
    color: #a6a8aa;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 180px;
    position: relative;
    display: flex;
    border: none;
}
.select_main{
    margin: 3px 10px;
    position: relative;
    padding-top: 12px;
    border-top:1px solid #999a9a;
    border-bottom:1px solid #0b3456;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 23px;
    background: #0b3456
    }
    select {
    width: 100%; 
    height: 34px; 
    position: relative;
    border: none; 
    cursor: pointer; 
    opacity: 0;
    filter: alpha(opacity=0);
    }
    .select_main p {
    width: 100%;
    height: 100%; 
    position: absolute; 
    left: 0; 
    top: 5px; 
    color: #ffffff; 
    font-size: 20px; 
    font-weight: 700;
    line-height: 34px; 
    overflow: hidden;
    padding-left: 25px;
    }
.intro__search__vector {
    position: relative;
    border: none;
    border-radius: 11px;
    background-color: #ffffff;
    color: #9ea1a3;
    padding-left: 25px;
    font-size: 30px;
    z-index: 2;
}
.select_main i {
    font-size: 20px;
    color: #ff464b;
    position: absolute;
    left: 96px;
    bottom: 11px;
}
.intro__btn {
    display: flex;
    
}
.intro__btn__button p {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 0;
}
.intro__btn__button:first-child {
    background: linear-gradient(to top left, #ff4b2b, #ff4268)
}
.intro__btn__button {
    background-color: #0b3456;
    border-radius: 59px;
    margin-top: 75px;
    border: none;
}
.intro__btn__button:hover {
    background: linear-gradient(to top left, #ff4b2b, #ff4268)
}
.intro__btn__button:first-child {
    padding-right: 90px;
    padding-left: 30px;
    margin-right: 10px;
}
.rating {
    background-color: #e6eaf8;
    height: 110px;
}
.rating__star {
    color: #0b3456;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    position: relative;
}
.rating__star p{
    padding-right: 40px;
}
.rating__star a:nth-child(6) {
     margin-right: 35px;
}
.rating__star a {
    height: 27px;
     width: 27px;
     color: #e6eaf8;
     background-color: #228e57;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-decoration: none;
    margin: 0 1px;
}
.rating__info {
    padding: 50px 25px 35px;
    background-color: #e6eaf8;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 10;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(122,122,122,0.5);
}
.rating__star img {
    align-items: center;
    position: absolute;
    right: 239px;
    top: 33px;
}
.rating__info i,
.rating__info p {
    color: #0a3455;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.rating__info a {
    text-decoration: none;
}
.rating__info__mail {
    padding-bottom: 45px;
}
.prices {
    background-color: #e6eaf8;
    padding-bottom: 45px;
}
.prices__block {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px 40px 55px 55px;
    position: relative;
    margin: 0 9px;
    min-height: 46px;
}
.prices__block img {
    position: absolute;
    right: -22px;
    top: 138px;
}
.prices__block h2 {
    color: #0b3456;
    font-size: 30px;
    font-weight: 700;
    min-height: 59px;
}
.prices__block h6 {
    color: #ff4456;
    font-size: 17px;
    font-weight: 700;
    width: 95%;
    padding: 25px 0;
}
.prices__block ul {
    color: #0b3456;
    font-size: 17px;
    font-weight: 700;
    list-style: none;
    padding: 35px 0 45px;
}
.prices__block ul > li{
    padding-left: 20px;
    position: relative;
    margin: 10px;
}
.prices__block ul > li:before{
    content: '✔';
    position: absolute; top: 0; left: 0;
    color: #ff4456;
}
.prices__block button {
    background-color: #e6eaf8;
    color: #0b3456;
    font-size: 17px;
    font-weight: 700;
    border: none;
    padding: 15px 30px 15px 25px;
    border-radius: 30px;
}
.prices__block i {
    padding-left: 55px;
    font-size: 17px;
    font-weight: 700;
}
.prices__block button:hover {
    background-color: #0b3456;
    color: #e6eaf8;
}
.prices__block__prace {
    border-top: 1px solid #f1f3fc;
    border-bottom: 1px solid #f1f3fc;
    padding: 30px 0 40px;
}
.prices__block__prace p {
    color: #9ea1a3;
    font-size: 17px;
    font-weight: 700;
}
.gradient-text {
    font-family: 'Poppins', SemiBold;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(to top left, #ff4b2b, #ff4268);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: inline;
  }
.prices__block__fore {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 35px 6px 0;
}
.prices__block__fore h6 {
    color: #ff4456;
    font-size: 17px;
    font-weight: 700;
}
.prices__block__fore h2 {
    color: #0b3456;
    font-size: 30px;
    font-weight: 700;
}
.prices__block__fore button {
    background-color: #e6eaf8;
    color: #0b3456;
    font-size: 17px;
    font-weight: 700;
    border: none;
    padding: 15px 30px 15px 25px;
    border-radius: 30px;
    margin: 0 50px 0 55px;
    
}
.prices__block__fore i {
    padding-left: 55px;
    font-size: 17px;
    font-weight: 700;
}
.prices__block__fore button:hover {
    background-color: #0b3456;
    color: #e6eaf8;
}
.prices__block__pr {
    border-left: 1px solid #f1f3fc;
    border-right: 1px solid #f1f3fc;
    padding: 0 7px;
}
.prices__block__pr p {
    color: #9ea1a3;
    font-size: 17px;
    font-weight: 700;
    padding: 0 60px 0 45px;
    display: table-caption;
}
.prices__pr {
    display: inline;
    padding: 40px 60px 40px 55px;
}
.eye {
    height: 125px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	background-image: url("../img/group.png");
    background-color: #ff464e;
    background-repeat: no-repeat;
}
.eye__discount {
    display: flex;
    justify-content: center;
    align-items: center;
}
.eye__discount p {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    padding-left: 25px;
}
.why {
    background-color: #e1e6ec;
    padding-top: 115px;
    padding-bottom: 80px;
    text-align: center;
}
.why__title {
    color: #0b3456;
    font-size: 40px;
    font-weight: 700;
    justify-content: center;
}
.why__container {
    margin-top: 50px;
}
.why__block {
    background-color: #f0f3f5;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 315px;
    text-align: center;
    padding: 0 55px;
    margin: 20px 15px;
}
.why__block a {
    text-decoration: none;
}
.why__block h6 {
    font-size: 20px;
    font-weight: 700;
    color: #0b3456;
    padding: 30px 0 20px;
}
.why__block p {
    font-size: 16px;
    color: #7d7d7d;
    font-weight: 700;
    position: relative;
}
.why button {
    margin-top: 75px;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background: linear-gradient(to top left, #ff4b2b, #ff4268);
    border-radius: 30px;
}
.why__block:hover {
    background-color: #0b3456;
}
.why__block:hover h6 {
    color: #ffffff;
}
.system {
    padding: 120px 0;
}
.system__block {
    margin-right: 35px;
    min-height: 510px;
}
.system__block h2 {
    color: #ff4456;
    font-size: 28px;
    font-weight: 700;
    padding-top: 85px;
}
.system__block p {
    color: #0b3456;
    font-size: 50px;
    font-weight: 700;
    padding-top: 35px;
    padding-bottom: 50px;
}
.system__block sup {
    font-size: 12px;
}
.system__block b {
    color: #0b3456;
    font-size: 24px;
    font-weight: 700;
}
.system__block sup {
    position: relative;
    top: -28px;
}
.system__btn__button i {
    font-size: 18px;
    color: #ff464b;
}
.system__btn {
    display: flex;
    
}
.system__btn__button p {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 25px;
    display: inline-block;
}
.system__btn__button:last-child p {
    color: #0b3456;
}
.system__btn__button:first-child {
    background: linear-gradient(to top left, #ff4b2b, #ff4268);
}
.system__btn__button {
    background-color: #ffffff;
    border-radius: 59px;
    margin-top: 45px;
    border: none;
}
.system__btn__button:last-child {
    margin-left: 10px;
}
.system__btn__button:hover {
    background: linear-gradient(to top left, #ff4b2b, #ff4268);
}
.system__btn__button:hover p {
     color: #ffffff;
}
.testimonials {
    background-color: #073459;
}
.testimonials__block {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 85px;
}
.testimonials__block h2 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
}
.testimonials__block__user {
    background-color: #ffffff;
    margin-top: 90px;
    text-align: left;
    max-width: 600px;
    padding: 45px 0 65px 50px;
    border-radius: 13px;
}
.testimonials__block__user h6 {
    color: #575d61;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
}
.testimonials__block__user i {
    height: 20px;
    width: 20px;
    color: #e6eaf8;
    background-color: #228e57; 
    text-decoration: none;
    margin: 0 0,5;
    text-align: center;
}
.testimonials__block__comment {
    display: flex;
    padding-top: 35px;
}
.testimonials__block__comment p {
    color: #404e6a;
    font-size: 17px;
    font-weight: 700;
}
.testimonials__block__comment i {
    color: #f93e43;
    font-size: 17px;
    background-color: #fff;
    margin-right: 7px;
}
.clients {
    padding: 90px 0 95px;
    background-color: #ffffff;
    
}
.clients__block {
    text-align: center;
}
.clients__block h2{
    color: #263655;
    font-size: 40px;
    font-weight: 700;
}
.clients__block img:last-child {
    padding-top: 100px;
}
.footer {
    background: #0b3456;
    border: none;
    position: relative;
    overflow: hidden;
}
.footer__start {
    display: flex;
    justify-content: space-between;
    padding-bottom: 95px;
    padding-top: 30px;
}
.footer__logo {
    align-items: center;
}
.footer__button {
    display: flex;
    align-items: center;
}
.footer__button__btn:first-child {
    margin-right: 25px;
    background: linear-gradient(to top left, #ff4b2b, #ff4268);
    color: #ffffff;
}
.footer__button__btn {
    border-radius: 59px;
    padding: 10px 20px;
    background-color: #e6eaf8;
    border: 0px;
    font-weight: 700;
    font-size: 20px; 
    color: #003049; 
}
.footer__button__btn:hover {
    color: #ffffff;
    background: linear-gradient(to top left, #ff4b2b, #ff4268);
}
.footer__block p{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    display: inline-block;
}
.footer__block p::before {
    content: "";
    background-image: url(../img/Vave.png);
    background-repeat: repeat-x;
    background-size: auto 100%;
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 14px;
}
.footer__block img {
    max-width: 120px;
}
.footer__block ul {
    padding-top: 20px;
}
.footer__block li{
    padding-top: 20px;
}
.footer__block a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}
.footer__block__fore {
    text-align: right;
}
.footer__block__network {
    padding: 40px 0 80px;
}
.footer__block__network i {
    color: #ffffff;
    font-size: 40px;
    padding-left: 40px;
}
.footer__block form {
    margin-right: -42px;
}
.footer__block input {
    background-color: #ffffff;
    color: #676767;
    font-size: 17px;
    font-weight:700;
    border: none;
    padding: 15px 60px 15px 25px;
    border-radius: 10px;
    margin-top: 40px;
}
.footer__block button {
    position: relative;
    right: 50px;
    background-color: #ff4b2b;
    color: #ffffff;
    font-size: 17px;
    border: none;
    padding: 5px 13px;
    border-radius: 10px;
}
.footer__information {
    padding-bottom: 65px;
}
.footer__end {
    padding: 35px 0 35px;
    background-color: #0d3a5f;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}
.footer__end__content{
    display: flex;
    justify-content: space-between;
}
.footer__discount {
    background-color: #ff435d;
    padding: 35px;
    transform: rotate(45deg);
    height: 200px;
    width: 500px;
	display: block;
    align-items: center;
    text-align: center;
	background-image: url("../img/toczka.png");
    background-repeat: no-repeat;
    position: absolute;
    left: -235px;
    bottom: -86px;
}
.footer__discount p {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}
.footer__discount b {
    color: #0d3a5f;
    font-size: 30px;
    font-weight: 700;
}